{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="site-wrapper">
  <div class="pt-table">
    <div class="pt-tablecell page-works relative">
      <!-- .close -->
      <a href="./" class="page-close"><i class="tf-ion-close"></i></a>
      <!-- /.close -->

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="page-title text-center">
              <h2>My <span class="primary">works</span> <span class="title-bg">works</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat volutpat.</p>
            </div>
          </div>
        </div> <!-- /.row -->

        <div class="row">
          <div class="col-xs-12">
            <ul class="filter list-inline">
              <li><a href="#" class="active" data-filter="*">All</a></li>
              {% for work in works %}
              <li><a href="#" data-filter=".{{work.project_type}}">{{work.project_type}}</a></li>
              {% endfor %}

            </ul>
          </div>
        </div>

        <div class="row isotope-gutter">
          {% for work in works %}
          <div class="col-xs-12 col-sm-6 col-md-4 {{work.project_type}}">
            <figure class="works-item">
              <img src="{{work.image.url}}" alt="">
              <div class="overlay"></div>
              <figcaption class="works-inner">
                <h4>{{work.project_name}}</h4>
                <p>{{work.description}}</p>
              </figcaption>
            </figure>
          </div>
          {% endfor %}

        </div> <!-- /.row -->
      </div> <!-- /.container -->

      <nav class="page-nav clear">
  <div class="container">
    <div class="flex flex-middle space-between">
      <span class="prev-page"><a href="{% url 'resume'%}" class="link">&larr; Prev Page</a></span>
{% include 'partial/copyright.html' %}
      <span class="next-page"><a href="{% url 'testimonial'%}" class="link">Next Page &rarr;</a></span>
    </div>
  </div>
  <!-- /.page-nav -->
</nav>
      <!-- /.container -->

    </div> <!-- /.pt-tablecell -->
  </div> <!-- /.pt-table -->
</main> <!-- /.site-wrapper -->

{% endblock %}